@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
 
:root {
    --secondary-color:  #8E0727;
    --primary-color: #252429;
    --accent-color2: #694d36;
 
    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Source Sans 3' , sans-serif;
}
 
*, *:before, *:after {
    box-sizing: border-box;
}
 
body {
	min-width: 300px;
	margin:0;
}
 
header {
    font-family: var(--heading-font);
    display: flex;
    flex-direction: row;
    align-items: center;
}
 
header img {
    width: 4rem;
    height: 4rem;
    margin: 0.75rem;
}
 
header h1 {
    margin: 0.75rem;
    color: var(--secondary-color);
    font-size: 60px;
}

.navigation {
    margin: 0.5rem;
    margin-left: auto;
	background-color: var(--secondary-color);
}
 
.navigation ul {
    list-style: none;
    padding: 0;
    justify-content: center;
}
 
.navigation a {
    margin: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;    
}

.navigation a:hover {
    text-decoration: underline;
    color: white;
}
 
/* HAMBURGER */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	position: absolute;
	top: 5.5rem;
	right: 1rem;
}
 
#menu::before {
	content: "☰";
    color: var(--secondary-color);
}
 
#menu.open::before {
	content: "X";
    color: var(--secondary-color);
}
 
.navigation a {
	display: none;
	padding: 1rem;
}
 
.open a {
	display: block;
}
 
/*Hero*/
#local, #options {
    margin-top: 3rem;
}
 
#hero img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
 
#hero div {
	margin-bottom: 1rem;
}
 
#hero h2 , #local h2, #info h2, #tpage h2{
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    margin: 0.75rem;
}

#tpage {
    margin: 2rem;
}
 
#hero p, #local p, #options section li, 
#home p, #info p, #navagation p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    margin: 0.75rem;
}
 
#hero button {
    font-family: var(--paragraph-font);
    color: white;
    background-color: var(--primary-color);
    text-transform: uppercase;
    padding: 0.5rem;
    margin: 0.75rem;
    border: none;
    border-radius: 0.75rem;
    box-shadow: 4px 4px 2px var(--secondary-color);
    cursor: pointer;
}
 
/*local weather*/
 
#local {
	background-color: floralwhite;
}
 
#local section h3, #options section h3 {
    font-family: var(--primary-color);
    color: var(--primary-color);
    margin: 0.75rem;
}
 
/*Options*/
 
#options section img {
    width: 20rem;
}
 
/*footer*/
footer {
    align-content: center;
    padding: 0.75rem;
    background-color: var(--accent-color2);
}
 
footer h3 {
    font-family: var(--accent-color2);
    color: white;
    margin: 0.75rem;
}
 
footer p{
    font-family: var(--paragraph-font);
    color: white;
    margin: 0.75rem;
}
 
.social-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
 
.social-links img {
    width: 1.75rem;
    padding: 0.25rem;
    margin: 0.25rem;
    background-color: var(--accent-color2);
    border-radius: 0.75rem;
}

/*table*/
 
table {
    margin: 10px auto;
    border: 2px solid var(--secondary-color);
    box-shadow: 0 0 10px var(--accent1-color);
    border-collapse: collapse;
}
 
    tr:second-child th, #empty{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
 
th, td {
    padding: 7px 15px;
    border: 1px solid var(--accent1-color);
}
 
th, td {
    padding: 7px 15px;
    border: 1px solid var(--accent1-color);
}
 
th, td {
    padding: 7px 15px;
    border: 1px solid var(--secondary-color);
}
 
th {
	background-color: floralwhite;
	font-size: larger;
    color: var(--secondary-color);
}
 
tr:first-child th {
	background-color: var(--secondary-color);
	color: white;
}
 
tbody tr:nth-child(even) {
	background-color: floralwhite;
}

/*Reservations*/
#resform fieldset,
#conInfo fieldset {
    margin: 1rem;
    border: 2px dashed var(--secondary-color);
    border-radius: 6px;
    padding: .5rem 2%;
}
#resform legend {    
    color: var(--secondary-color);
    padding: 0.5rem;
    font-family: var(--heading-font);
}

#resform label, 
#conInfo label{
    display: block;
    padding: 1rem;
    color: var(--secondary-color);
    font-size: .9rem;
    font-family: var(--paragraph-font);
}


textarea {
    width:100%;
    margin:5px 0;
    padding:3px;
    background-color: var(--accent1-color);
    border-radius: 6px;
}
#resform input[type="text"],
#resform input[type="tel"],
#resform input[type="email"],
#conInfo input[type="text"],
#conInfo input[type="tel"],
#conInfo input[type="email"] {
    background-color: var(--accent1-color);
    display: block;
    border-radius: 6px;
    padding: .5rem;
    color: var(--accent3-color);
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.radio:hover{
    background-color: var(--accent1-color);
    font-family: var(--heading-font);
    font-size: large;
    width: 10rem;
}
#resform input[type=submit],
#submit{
    border: none;
    background-color: var(--secondary-color);
    color: white;
    font-family: var(--heading-font);
    border-radius: 6px;
    padding: 0.8rem;
    width: 96%;
    max-width: 400px;
    margin: 1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
    cursor: pointer;
}
#resform input[type="radio"] {
}

#error-message{
    color:var(--secondary-color);
    font-family: var(--paragraph-font);
    margin: 0.25rem 1 rem;
}

#p {
    margin: 8rem;
}













