@media screen and (min-width: 900px) {
 body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr auto;
    }

  header {
        grid-column: 1/4;
    }
  
    .card1 {
        grid-column: 1/2;
    }
    .card2 {
        grid-column: 2/3;
    }
    .card3 {
        grid-column: 3/4;
    }

    footer {
        grid-column: 1/4;
    }
}