/*https://coolors.co/visualizer/c6ebbe-5b6c5d-3b2c35-2a1f2d-f18f01*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*This sets colors and fonts for all pages with this css applie,
    to change any font or color cimply update the root and all pages will update.
    
    How to use ex. eolor: var(--primary-color);*/
:root {
    
    --primary-color: #725752;  
    --secondary-color: #fa7e61; 
    --accent1-color: #878e88;
    --accent2-color: #96c0b7;
    --accent3-color: white;

    --heading-font: "roboto", sans-serif;
    --paragraph-font: "source sans 3", sans-serif;
}

*,*:before,*:after {
    box-sizing: border-box;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
/* Hamburger Menu */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
 
#menu::before {
    content: "☰";
    color: var(--primary-color);
}
 
#menu.open::before {
    content: "X";
    color: var(--primary-color);
}
 
.navigation {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}
 
.navigation ul {
    list-style: none;
}
 
.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: larger;
    color: var(--accent3-color);
}
 
.navigation a:hover {
    font-weight: 700;
}
 
/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}
 
/* wayfinding symbol for the user */
.navigation .active {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 1.5px;
}
has context menu