@media screen and (min-width: 730px){
    :root {
        --primary-color: #d5c7c4;   
        --secondary-color: #483f58; 
        --accent1-color: #e0dac7;
        --accent2-color: #f2ebdc;
        --accent3-color: #e7dcd6;
        --heading-font: "roboto", sans-serif;
        --paragraph-font: "source sans 3", sans-serif;
    }
    
.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    width: auto;
}

#cowboy {
    grid-column: 3/4;
}

.boxes article {
    margin-left: 2rem;
    margin-right: 2rem;
}

.hero article {
    margin: 5rem; 
}

.local {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1rem;
    padding: 1rem;
    border: 3px dotted var(--secondary-color);
}


footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1rem 0 1rem;
}

.social-links {
    margin-right: 5rem;
}

#menu {
    display: none; /* hide hamburger button */
}

.navigation {
    flex-direction: row;
}

.navigation a {
    display: block;
    flex: 1 1 100%;
}

/* Adjustable Overlay */
#large {
    visibility: visible;
}
 
#small, #medium {
    visibility: hidden;
}

#fdata{
    margin: 0.25rem;
    
}

}

.circles {
    margin: 4rem 4rem;
}
 
.circles button {
    margin: 0.5rem;
}

#directory h1{
    margin-top: 3rem;
}