@media screen and (min-width: 500px){

.hero article {
    top: 1.00rem;
    padding: 1rem;
}

main p {
    font-size: small;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.boxes p{
    padding: 0 1rem 0 1rem;
}

.boxes img {
    margin: 2rem .5rem 0rem .5rem;
    
}

#cowboy {
    grid-column: 1/3;
}

body p, body label {
    font-size: revert;
}


/* Adjustable Overlay */
#medium {
    visibility: visible;
}
 
#small, #large {
    visibility: hidden;
}
 
}