/* Reset default margin and padding */
   h2, h3, p, ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Set font family */
body {
    display: grid;
    align-items: center;
    grid-template-columns: 25em 1fr 25em;
    grid-template-rows: auto auto auto auto auto;
    font-family: 'Roboto', sans-serif;
}

/* Center the main content horizontally */
main {
    grid-column: 2/3;
    grid-row: 3/4;
}

/* Style header */
header{
    background-color: #b1b3aa;
    grid-column: 2/3;
    grid-row: 1/2;
}

header img {
    height: 200px;
    border-radius: 100%; /* Make the image round */
}

header h1 {

    grid-column: 3/3;
    grid-row: 2/2;
    text-align: center;
    font-size: 45px;
}
ul{
    list-style-type:none;
   
}
/* Style navigation */
nav {
    
    list-style-type: none;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color:rgb(5, 106, 119);
    
}
/* Style main sections */
main {
    display: grid;
    grid-template-columns: 1fr; /* Display main sections in a single column */
    gap: 20px; /* Add spacing between sections */
}

.card {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added box shadow */
}

.card h3 {
    margin-bottom: 10px;
}

/* Style footer */
footer {
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: center;
    padding: 20px 0;
    background-color: rgb(5, 106, 119);
    color: #fff;
}
#flag{
    height: 30px;
    padding-left: 10px;

}

/* Style course links list */
nav ul li a {
    color: #fff;
    text-decoration: none;
}
