/* Reset default margin and padding */
   h1{
    text-align: left;
    margin: 0;
    padding: 0;
}

/* Set font family */
body {
    margin: 2rem, 0, 2rem, 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    font-family: 'Roboto', sans-serif;
}

/* Center the main content horizontally */


/* Style header */
header{
    display: flex;
    justify-content: center;
    background-color: #555752;
}

header img {
    height: 200px;
    border-radius: 100%; /* Make the image round */
    margin: 3rem;
}

header h1 {
    align-content: center;
    text-align: center;
    font-size: 45px;
}
.card ul{
    list-style-type:none;
   
}
/* Style navigation */
nav {
    display: flex;
    list-style-type: none;
    text-align: center;
    padding: 1rem; 
    background-color:rgb(5, 106, 119);
    flex-direction: column; 
    align-items: center;
}
nav ul {
    list-style-type: none;
}
nav a:hover {
    text-decoration: overline;
}
nav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.card {
    text-align: left;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added box shadow */
}

.card h3 {
    margin-bottom: 10px;
}

iframe {
    width: 100%;
}

/* Style footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: rgb(5, 106, 119);
    /*color: #fff;*/
}
#flag{
    height: 30px;
    padding-left: 10px;

}

/* Hamburger Menu */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: .25rem;
    right: .25rem;
}
 
#menu::before {
    content: "☰";
    color: var(--accent3-color);
}
 
#menu.open::before {
    content: "X";
    color: var(--accent3-color);
}
 
.navigation {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}
 
.navigation ul {
    list-style: none;
}
 
.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: larger;
    color: var(--primary-color);
}
 
.navigation a:hover {
    font-weight: 700;
}
 
/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}
 
/* wayfinding symbol for the user */
.navigation .active {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 1.5px;
}



