@media screen and (min-width: 900px) {
    nav ul {
        display: flex;
        flex-direction: row;
    }
    nav a {
        padding: 0.5rem;
    }
    main {
        display: grid; 
        grid-template-columns: 1fr 1fr;
    }
    h2{
        grid-column: 1/span 2;
    }

    iframe {
        grid-column: 1/span 2;
    }

      /* Remove Hamburger */
      #menu {
        display: none; /* hide hamburger button */
    }
 
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
 
    nav {
        background-color: var(--secondary-color);
    }
   
    nav ul {
        list-style-type: none;
        padding: 0;
    }
   
    nav a{
        padding: 0.5rem;
        display: block;
        text-align: center;
    }
   
    nav a, nav a:visited, nav a:hover, nav a:focus, nav a:active {
        font-family: var(--heading-font);
        font-size: larger;
        color: var(--primary-color);
    }
}


