@media (min-width: 900px) {
    nav ul {
        flex-direction: row;
    }
    nav a {
        padding: 0.5rem;
    }
    main {
        display: grid; 
        grid-template-columns: 1fr 1fr;
    }
    h2{
        grid-column: 1/span 2;
    }
}

